language: go
go:
  - 1.4.3
  - 1.5.3
  - 1.6.1
  - 1.7.3
  - tip
sudo: false
before_install:
  - ./travis_install_capstone_stable.sh
  - export LIBRARY_PATH=$HOME/capstone/lib
  - export C_INCLUDE_PATH=$HOME/capstone/include
  - export LD_LIBRARY_PATH=$HOME/capstone/lib
  - ./genconst $HOME/src/capstone/bindings/python/capstone
  - ./genspec $HOME/src/capstone/tests
notifications:
  email:
    recipients:
      - travis@ben.iagu.net
